.answer-container-breed {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.answer {
  background: white;
  border-radius: 15px 50px 30px;
  margin: 1rem;
  height: 3rem;
  width: 20rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer-correct {
  background: green;
  border-radius: 15px 50px 30px;
  margin: 1rem;
  height: 3rem;
  width: 20rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
}

.answer-wrong {
  background: red;
  border-radius: 15px 50px 30px;
  margin: 1rem;
  height: 3rem;
  width: 20rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
}

.answer:focus {
  outline: 0;
}

.answer-correct:focus {
  outline: 0;
}

.answer-wrong:focus {
  outline: 0;
}

.answer-picture {
  width: auto;
  height: 200px;
  margin: 1rem;
  outline: 0;
}

.answer-correct-picture {
  border: 10px solid green;
}

.answer-wrong-picture {
  border: 10px solid black;
}

.hide-answer {
  display: none
}

.show-answer {
  position: relative;
  font-size: 1.2rem;
}

/* #buttonId {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
} */

@media screen and (max-width: 600px) {
  .answer {
    height: 2rem;
    width: 15rem;
    font-size: 1rem;
  }
}