.dog-quiz {
  background: radial-gradient(ellipse at center,
    rgba(254, 252, 234, 1) 0%,
    rgba(241, 218, 54, 1) 100%);
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 2rem;
}

.dog-quiz-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
}

.dog-quiz-logo {
  margin: 1rem;
  height: 3rem;
}

.dog-question-image {
  height: 20rem;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  margin: 0 15px 30px;
  padding: 10px 10px 25px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  z-index: 0;
  position: relative;
  transform: rotate(1deg);
}

#hard-mode {
  -webkit-filter: blur(5px);
  filter: blur(10px);
}

.answers {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.answers-pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .dog-quiz-title {
    font-size: 1rem;
  }

  .dog-question-image {
    height: 10rem;
    width: auto;
  }

  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.green {
  color: green
}

.footer {
  color: darkslategray
}

a {
  text-decoration: none
}